{% block footer %}
<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="nav-link" href="#!">Contact</a>
  <a class="navbar-brand" href="#!">Copyright & copy 2018 MaMaFlo | Tous droits Réservés </a>

</nav>
{% endblock footer %}