{% extends "base.html.twig" %} {% block content %}

<h1>Do you want some Chips?</h1>
<div class="row">
  {% for row in product %}
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{row.designation}}</h5>

        {#faire un for sur les cat#}
      {#  <p class="card-text">{{row.category}}</p>#}
        <p class="card-text">{{row.publishedDate.format("d/m/Y")}}</p>
        <p class="card-text">{{row.content[:200]}}...</p>
        <img src="{{asset('uploads/product/'~ row.image)}}" alt="image"> {#
        <a href="{{path('product', {'id':row.id})}}">Voir plus</a>#}
        <a href="{{path('view_product', {'id':row.id})}}" class="btn btn-primary">Voir ces chips</a>

        {% if is_granted ('ROLE_ADMIN') %}
        <a href="{{path('delete', {'id':row.id})}}" class="btn btn-secondary">Supprimer</a>
        <a href="{{path('edit', {'id':row.id})}}" class="btn btn-secondary">Modifier</a>
        {% else %}
        <a href="#!" class="btn btn-secondary">Mettre au panier</a>
        {% endif %}

      </div>
    </div>
  </div>
  {% endfor %}


</div>

{% endblock content %} {# 1. Dans un controller (un neuf ou un existant, comme vous voulez), faire une route addToCart avec
paramètre (genre {product}). Faire que cette route ait en paramètre de sa méthode une variable $product de type Product 2.
Récupérer le user dans la route (avec $this->getUser()) 3. Créer une instance de ligne panier et lui assigner le produit
4. Récupérer le panier sur le user, puis lui ajouter la ligne panier que vous venez de faire 5. Récupérer l'entitymanager
et faire un flush #}