{% extends "base.html.twig" %}

{% block content %}
  
<h2>MY SHOPPING CART </h2>
{% if cart.count <= 0 %}
<h1>No Items in your cart yet</h1>
{% else %}
<div class="cart-gd">
    {% for item in cart.items %}
    <div class="cart-header" id="{{item.id}}" >

        <a href="#" class="close1 deleteItem" data-item-id="{{item.id}}"> </a>
        <div class="cart-sec simpleCart_shelfItem">
            <div class="cart-item cyc">
                <img src="{{item.product.mainPhoto.url}}" class="img-responsive" alt="" />
            </div>
            <div class="cart-item-info">
                <h3><a href="#"> {{ item.product.title }} </a></h3>
                <div class="delivery">
                    <p><span>Unit price : $</span> <span >{{ item.product.price }}</span></p>
                    <div class="clearfix"></div>
                    <p><span>Quantity : </span> <span >{{ item.quantity }}</span></p>
                    <div class="clearfix"></div>
                    <p><span>Total price : $</span> <span >{{ item.total }}</span></p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    {% endfor %}
    <div style="margin-top: 50px; text-align: right;">
        <a href="/checkout" class="big_button">Checkout</a>
    </div>
</div>
{% endif %}

{% endblock content %}