{% extends "base.html.twig" %} {% block content %}

<h1>Miam! Les {{product.designation}} Mamaflo!</h1>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{product.designation}}</h5>
        <p class="card-text">{{product.price}}€</p>
        <p class="card-text">Mis en ligne : {{product.publishedDate.format("d/m/Y")}}</p> {#dans la catégorie : {{product.category.title}} #}
        <p class="card-text">{{product.content[:200]}}...</p>
        <img src="{{asset('uploads/product/'~ product.image)}}" alt="image">

        
        {% if is_granted ('ROLE_ADMIN') %}
        <a href="{{path('delete', {'id':product.id})}}" class="btn btn-secondary">Supprimer</a>
        <a href="{{path('edit', {'id':product.id})}}" class="btn btn-secondary">Modifier</a>
        {% else %}
        <a href="{{path("shopping_cart", {"id":product.id})}}" class= "btn btn-succes">Ajouter au panier</a>
        {% endif %}
      
      </div>
    </div>
  </div>


 {# <section class="commentaires">
  {% for opinion in product.opinions %}
  <div class="comment">
    <div class="row">
      <div class="col-3">{{opinion.author.name}} (
        <small>{{opinion.date | date('d/m/Y')}}</small>)</div>
      <div class="col-12">{{opinion.content | raw }}</div>
    </div>

  </div>
  {% endfor %}
</section> #}

{% endblock content %}